# Ignore everything
/*

# Folders
!/gradle
!/src
!/.github
!/sample.json

# Files
!/.gitignore
!/build.gradle
!/gradle.properties
!/gradlew
!/gradlew.bat
!/HEADER
!/LICENSE
!/README.md
!/settings.gradle
